[submodule "heimdall"]
	path = heimdall
	url = git@github.com:agni-sairent/heimdall.git

[submodule "hyper-friday"]
	path = hyper-friday
	url = git@github.com:agni-sairent/hyper-friday.git

[submodule "friday-frontend"]
	path = friday-frontend
	url = git@github.com:agni-sairent/friday-frontend.git
