[submodule "heimdall"]
	path = heimdall
	url = git@github.com:agni-sairent/heimdall.git

[submodule "friday-backend"]
	path = friday-backend
	url = git@github.com:agni-sairent/friday.git

[submodule "friday-frontend"]
	path = friday-frontend
	url = git@github.com:agni-sairent/friday-frontend.git
