version: '3.1'

services:
  db:
    build:
      context: postgres
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'ag.password'
    ports:
      -  '5432:5432'
    networks:
      - hyper
      
  adminer:
    image: adminer
    restart: always
    ports:
      - '7999:8000'
    networks:
      - hyper

  redis:
    image: redis:6.0.9-alpine
    restart: unless-stopped
    environment:
      - ALLOW_EMPTY_PASSWORD=yes     
    networks:
      - hyper
    ports:
      - '6379:6379'

  heimdall:
    build:
      context: heimdall
    restart: unless-stopped
    networks:
      - hyper
    ports:
      - '8000:8000'

  friday:
    build:
      context: friday
    restart: unless-stopped
    networks:
      - hyper
    ports:
      - '8001:8000'
  nginx:
    image: nginx:1.19.2
    volumes:
      - ./nginx/templates:/etc/nginx/templates
    networks:
      - hyper
    environment:
      - NGINX_PORT=10875
    ports:
      - 10875:10875

networks:
  hyper:
    driver: bridge

volumes:
  pgdata:
  nginx: