version: '3.1'

services:
  data:
    image: busybox
    volumes:
      - friday_frontend:/var/friday-frontend
      - certbot_config:/var/certbot-config
  db:
    build:
      context: postgres
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'ag.password'
    ports:
      -  '5432:5432'
    networks:
      - hyper
      
  adminer:
    image: adminer
    restart: always
    ports:
      - '7999:8000'
    networks:
      - hyper

  redis:
    image: redis:6.0.9-alpine
    restart: unless-stopped
    environment:
      - ALLOW_EMPTY_PASSWORD=yes     
    networks:
      - hyper
    ports:
      - '6379:6379'

  heimdall:
    build:
      context: heimdall
    restart: unless-stopped
    networks:
      - hyper
    depends_on:
      - db
    ports:
      - '8000:8000'

  friday:
    build:
      context: friday-backend
    restart: unless-stopped
    networks:
      - hyper
    depends_on:
      - db
    ports:
      - '8001:8000'

  friday-build-frontend:
    build:
      context: friday-frontend
    networks:
      - hyper
    volumes:
      - friday_frontend:/src/build

  nginx:
    image: nginx:1.19.2
    volumes:
      - ./nginx/templates:/etc/nginx/templates
      - ./data/certbot/www:/var/www/certbot
      - friday_frontend:/opt/friday_frontend
      - certbot_config:/etc/letsencrypt
    networks:
      - hyper
    environment:
      - NGINX_PORT=10875
    depends_on:
      - friday
      - heimdall
    ports:
      - 10875:10875
      - 443:443

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - certbot_config:/etc/letsencrypt

networks:
  hyper:
    driver: bridge

volumes:
  pgdata:
  nginx:
  friday_frontend: